.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  min-height: 100vh;
  display: flex;
  background-color: rgb(108, 148, 165);
  flex-direction: column;
  align-items: normal;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
