.Navbar{
    color : whitesmoke;
    font-size: smaller;
    list-style: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
li {
    display: inline;
    margin: 20px;
    
}
a {
    color : whitesmoke;
    font-size: smaller;
    justify-content: space-between;
}