.Navbar{
    background-color: #282c34;
    color : whitesmoke;
    font-size: smaller;
    list-style: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height : 10%;
    margin-top: 0;
    padding-top: 5vh;;
}
li {
    display: inline;
    margin: 20px;
    
}
a {
    color : whitesmoke;
    font-size: smaller;
    justify-content: space-between;
}